.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-image: url("https://static.vecteezy.com/system/resources/previews/009/741/234/non_2x/white-paper-textured-background-free-photo.jpg");
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #3c3b3b ;
}

.main .nav img{
    width: 70px;
    border-radius: 50%;
    filter: brightness(140%);
}

.main .main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
   margin: 10px 0px;
   font-size: 46px;
   color: #99a4a8;
   font-weight: 500;
   padding: 20px;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main .cards{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
     gap: 15px;
     padding: 20px;
}

.main .card{
    height: 200px;
    padding: 15px;
    background-color: #e3ebf4;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    width: 35px;
    padding: 4px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color: #585858;
    font-size: 17px;
}

.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
    background-color: #dfe9f5;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 4px;
    font-size: 16px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottom-info {
    font-size: 12px;
    margin: 14px auto;
    text-align: center;
    font-weight: 300;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin : 30px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img{
    width: 50px;
    border-radius: 50px;
    filter: brightness(140%);
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px; 
    animation: loader 3s infinite linear ;
}

@keyframes loader{
    0% {
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px ;
    }
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width:600px) {
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}